<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>FaceUTEQ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Header Start -->
    <head th:insert="common/header :: header"></head>
    <!-- Header End -->
</head>

<!-- Navbar Start -->
<head th:insert="common/header :: navbar"></head>
<!-- Navbar End -->

<!-- All content -->

<div id="layoutSidenav_content" style="background-color: #f5f7fb;">
    <main>
        <div class="container-fluid px-4">




            <div class="row">
                <div class="col-3"></div>
                <div class="col-5">
                    <div class="card mt-3" data-th-each="p:${publicaciones}">
                        <div align="center" class="mt-1">
                            <img th:if="${p.fotoPubl != null}" th:src="@{${p.fotoPubl}}" class="card-img-top" style="width: 400px; height: 400px;">
                        </div>
                        <div class="card-body">
                            <div class='float-start ms-2' data-th-text="${p.usuario.estudiante} == null ? ${p.usuario.profesor.n1Prof} + ' ' + ${p.usuario.profesor.apProf} : ${p.usuario.estudiante.n1Estu} + ' ' + ${p.usuario.estudiante.apEstu}"></div>
                            <br>
                            <div class='float-start ms-2' data-th-text="${p.usuario.estudiante} == null ? ${p.usuario.profesor.carrera.nomCarr} : ${p.usuario.estudiante.carrera.nomCarr}"></div>
                            <br>
                            <div class='float-start ms-2' data-th-text="${#dates.format(p.faPubl, 'dd-MM-yyyy')}"></div>
                            <br>
                            <div data-th-text="${p.descPubl}"></div>
                        </div>
                        <div class="card-footer">
                            <form method="post" th:action="@{/insertcomentario}" class="form-group">
                                <input name="comentario" type="text" class="form-control" placeholder="Ingresa tu comentario">
                                <input name="publicacion" type="hidden" th:value="${p.idPubl}">
                                <input type="submit" class="btn btn-primary form-control" value="Enviar">
                            </form>
                            <br>
                            <li th:each="c : ${comentarios}" th:text="${c.usuario.estudiante} == null ? ${c.usuario.profesor.n1Prof} + ' ' + ${c.usuario.profesor.apProf} + ' dice: ' + ${c.descCome} : ${c.usuario.estudiante.n1Estu} + ' ' + ${c.usuario.estudiante.apEstu} + ' dice: ' + ${c.descCome}" th:if="${p.idPubl == c.publicacion.idPubl}"></li>
                        </div>
                    </div>
                </div>
            </div>














        </div>
    </main>
</div>

</div>


<!-- All content -->

<!-- Footer Start -->
<head th:insert="common/footer :: footer"></head>
<!-- Footer End -->

<!-- Scripts Start -->
<head th:insert="common/footer :: scripts"></head>
<!-- Scripts End -->
</body>
</html>
