<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>SolicitAPP</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Header Start -->
    <head th:insert="common/header :: header"></head>
    <!-- Header End -->
</head>

<!--- Navbar --->
<body class="sb-nav-fixed" data-th-fragment="navbar">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3 text-uppercase" th:href="@{/principal}">SolicitAPP</a>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link" th:href="@{/verTurnos}" role="button">Ver turnos</i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" th:href="@{/login}" role="button">Iniciar sesión</i></a>
            </li>
        </ul>
    </nav>

    <!-- Navbar -->

    <!-- All content -->
    <br><br>
    <div id="layoutSidenav_content"style="background-color: #f5f7fb;">
        <main>
            <div class="container-fluid m-4">

                <h1 class="mb-3">Solicitar turno</h1>

                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre">
                        </div>
                        <div class="mb-3">
                            <label for="matricula" class="form-label">Matrícula</label>
                            <input type="text" class="form-control" id="matricula">
                        </div>
                        <div class="mb-3">
                            <label for="matricula" class="form-label">Profesor</label>
                            <select class="form-select" id="profesores">
                                <option data-th-value="${p.idProf}" data-th-each="p:${profesores}" data-th-text="${p.usuario.nombUsua}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="asunto" class="form-label">Asunto a tratar</label>
                            <textarea class="form-control" id="asunto" rows="3"></textarea>
                        </div>
                        <div class="mb-3" align="right">
                            <button type="button" onclick="solicitar(document.getElementById('profesores').value, document.getElementById('nombre').value, document.getElementById('matricula').value, document.getElementById('asunto').value)" class="btn btn-success">Solicitar turno</button>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>

                <script>
                    function solicitar(profesor, nombre, matricula, asunto) {
                        var url = 'registrarTurno';
                        var data = {idProf: profesor, nomAlumnSoli: nombre, matAlumnSoli: matricula, asuntoSoli: asunto};

                        fetch(url, {
                            method: 'POST',
                            body: JSON.stringify(data),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                                .catch(error => console.log('Error: ' + error))
                                .then(response => response.json())
                                .then(data => {
                                    alert('Tu turno es el número ' + data.idTurn);
                                })
                                .then(window.location.reload());
                    }
                </script>

            </div>
        </main>
    </div>

</div>


<!-- All content -->

<!-- Footer Start -->
<head th:insert="common/footer :: footer"></head>
<!-- Footer End -->

<!-- Scripts Start -->
<head th:insert="common/footer :: scripts"></head>
<!-- Scripts End -->
</body>
</html>
